html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  background-color: #eee;
  margin: 0 auto;
  padding: 8px;
  max-width: 820px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: grid;
  grid-template:
    "title title" auto
    "main aside" 1fr
    "footer footer" auto / 1fr 1fr;
}

@media (max-width: 900px) {
  body {
    display: block;
    max-width: 400px;
  }
}

h1 {
  grid-area: title;
  text-align: center;
  border-bottom: 1px dotted #0003;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}
.main { grid-area: main; }
.aside { grid-area: aside; }
.footer { grid-area: footer; }

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input[type="range"] {
  padding: 0;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.flex {
  display: flex;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-sb {
  justify-content: space-between;
}

label {
  cursor: pointer;
  padding: 0.1em .75em;
}

fieldset {
  margin-bottom: 1em;
  border-color: #ccc6;
}

footer ul {
  float: right;
  opacity: 0.6;
  font-style: italic;
  font-size: smaller;
}

input[type="reset"],
input[type="submit"],
button {
  cursor: pointer;
}
