body {
	display: grid;
	grid-template:
	"title title" auto
	"main aside" 1fr
	"footer footer" auto / 1fr 1fr;
}

@media (max-width: 900px) {
	body {
		display: block;
		max-width: 400px;
	}
}

h1 {
	grid-area: title;
	text-align: center;
	border-bottom: 1px dotted #0003;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
}
.main { grid-area: main; }
.aside { grid-area: aside; }
.footer { grid-area: footer; }



label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input[type="range"] {
  padding: 0;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
