fieldset {
  display: inline-block;
}

#result {
  display: block;
}

dd {
  margin: 0;
  padding: 0;
}

label {
  display: block;
  cursor: pointer;
  margin-bottom: 0.25em;
  line-height: 1.5;
}

input[type="radio"] + * {
  color: #999;
}

input[type="radio"]:checked + * {
  background-color: #ff99;
  color: #000;
}

.flex {
  display: flex;
}

body {
  font-family: monospace;
}

pre {
  margin: 0;
}

form {
  font-size: 1.5em;
  counter-increment: form-index;
}

.flex-left {
  flex-shrink: 0;
}

#app summary::before {
  content: '#' counter(form-index) ' ' var(--click, '');
}

.lineups label {
  display: none;
}

.member-content {
  padding: 0.25em .5em;
  white-space: pre-line;
}


label {
  padding: 0.25em 0;
}

input[type="radio"] {
  margin: 0 .25em;
}

.ml-1 {
  margin-left: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.flex-wrap {
  flex-wrap: wrap;
}

label {
  margin: 0;
  user-select: none;
}

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
}

.working-box {
  position: sticky;
  top: 0;
  align-items: flex-end;
  justify-content: center;
  gap: 1em;
  background-color: var(--bgc);
}

button {
  font-size: 1.5em;
}

:root {
  --bgc: #242424;
  --color: #fffc;
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bgc);
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --bgc: #eee;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}
